/* Fonts */

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
        url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --basic-grey: #333333;
    --basic-black: #000000;
    --basic-white: #ffffff;
}

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text--black {
    color: var(--basic-black);
}

.text--bold {
    font-weight: 700;
}

.text--medium {
    font-size: 21px;
}

.text--large {
    font-size: 30px;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--center {
    text-align: center;
}

/* Page */

.page-body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    margin: 0;
    padding: 0 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-grey);
    background-color: #f2f2f2;
}

.page-wrapper {
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 120px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Header */

.page-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 56px;
}

.page-nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.link-logo {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: block;
    text-align: center;
    z-index: 10;
}

.page-nav-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "page-nav-item-1 page-nav-item-2 . page-nav-item-3 page-nav-item-4";
    margin: 0;
    padding: 0 72px;
    list-style: none;
}

.page-nav-item:nth-child(1) {
    grid-area: page-nav-item-1;
}

.page-nav-item:nth-child(2) {
    grid-area: page-nav-item-2;
}

.page-nav-item:nth-child(3) {
    grid-area: page-nav-item-3;
}

.page-nav-item:nth-child(4) {
    grid-area: page-nav-item-4;
}

.page-nav-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.page-nav-link--active {
    color: #766357;
}

.page-nav-link:hover,
.page-nav-link:focus {
    color: #81b3d2;
}

.page-nav-link:active {
    opacity: 0.3;
}

/* Main */
.page-main {
    position: relative;
}

.page-main h1 {
    margin: 100px 20px;
    text-align: center;
    font-size: 40px;
}

/* Section Banner */

.banner {
    position: relative;
    margin-bottom: 42px;
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 57px;
    background: url("../img/shape.png") no-repeat center center;
}

.banner-img {
    display: block;
}

/* Section Cause */

.cause {
    margin-bottom: 58px;
}

.cause-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 330px 1fr 1fr;
}

.cause-box:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.cause-box:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.cause-box:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.cause-box:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.cause-box:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.cause-box:nth-child(1),
.cause-box:nth-child(2) {
    display: flex;
}

.cause-box:nth-child(3),
.cause-box:nth-child(4),
.cause-box:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cause-text {
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

.cause-text:last-of-type {
    margin-bottom: 50px;
}

.cause-box {
    text-transform: uppercase;
    text-align: center;
    background-color: #eeeeee;
}

.cause-column {
    display: flex;
    flex-direction: column;
}

.cause-box-title {
    margin: 0;
    margin-top: 47px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 21px;
    color: var(--basic-black);
    order: -1;
}

.cause-box-number {
    margin: 0;
    margin-bottom: 23px;
}

.cause-box-text {
    margin: 0;
}

.cause-box:first-child,
.cause-box:nth-child(2) {
    background-color: #81b3d2;
    color: var(--basic-white);
}

.cause-box:first-child .cause-column:first-child {
    width: 400px;
}

.cause-box:nth-child(2) .cause-column:first-child {
    width: 400px;
    order: 2;
}

.cause-box:first-child .cause-box-title,
.cause-box:nth-child(2) .cause-box-title {
    color: var(--basic-white);
}

.cause-img {
    width: 800px;
    height: 256px;
    display: block;
}

/* Section Service */

.service {
    position: absolute;
    left: 0;
    right: 0;
    top: 1035px;
    z-index: 999;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.service-box-title {
    margin: 0;
    margin-bottom: 25px;
    padding-top: 100px;
    font-weight: 700;
    font-size: 21px;
    color: var(--basic-black);
    position: relative;
}

.service-box::before {
    content: "";
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 72px;
    height: 72px;
}

.service-box:nth-child(1)::before{
    background: url(../img/icon-house.svg) no-repeat center center;
}

.service-box:nth-of-type(2)::before  {
    background: url(../img/icon-burger.svg) no-repeat center center;
}

.service-box:nth-of-type(3)::before {
    background: url(../img/icon-present.svg) no-repeat center center;
}

.service-box-text {
    margin: 0;
    margin-bottom: 82px;
}

/* Section Search */

.search p:first-of-type {
    margin: 0;
    margin-bottom: 35px;
}

.search p:nth-of-type(2) {
    margin: 0;
    margin-bottom: 50px;
}

.search-btn {
    display: block;
    margin: 0 auto;
    background-color: #766357;
    padding: 30px 139px;
    font-size: 21px;
    line-height: 26px;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #604e43;
    cursor: pointer;
}

.search-btn:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

/* Modal */

.search-modal {
    width: 568px;
    margin: 0 auto;
    padding: 55px;
    background: #FFF;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-form div {
    height: 38px;
    display: flex;
    margin-bottom: 29px;
    align-items: center;
}

.search-form label {
    margin-right: 19px;
    color: #000;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.search-form input {
    flex-grow: 1;
    padding: 6px 13px;
    border: none;
    background-color: #f2f2f2;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.search-form input::placeholder {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.search-form__box {
    display: flex;
    justify-content: space-between;
}

.search-form__box input {
    flex-grow: 0;
    width: 114px;
    text-align: center;
}

.search-form__box input::placeholder {
    text-align: center;
}

.search-form__box label:first-of-type {
    margin-right: 6px;
}

.search-form__submit {
    display: block;
    padding: 16px;
    width: 100%;
    background-color: #81b3d2;
    border: none;
    color: #FFF;
    font-family: "PT Sans", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
}

.search-form__submit:hover,
.search-form__submit:focus {
    background: #669ec0;
}

.modal {
    display: none;
}

.search-modal {
    display: block;
}

/* Button */

.button {
    text-transform: uppercase;
    color: var(--basic-white);
    border: none;
    font-weight: 700;
    text-align: center;
    font-family: "PT Sans", "Arial", sans-serif;
}

/* Footer */

.page-footer {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
}

/* Map */

.map {
    position: relative;
    margin-bottom: -120px;
}

.footer-container {
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 136px;
    padding-top: 23px;
    padding-bottom: 36px;
    background: rgba(255, 255, 255, 0.9);
}

.contact {
    margin: 0;
    font-size: 21px;
}

.contact-hashtag {
    display: block;
    text-align: center;
    margin-bottom: 9px;
}

.contact-tel-link {
    display: block;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

/* Social */

.social {
    display: flex;
}

.social-link {
    width: 46px;
    height: 48px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
}

.social-link:last-child {
    margin-right: 0;
}

.social-link:hover,
.social-link:focus {
    background-color: #669ec0;
}

.social-link:active {
    background-color: #5496bd;
}

.social-link:active img {
    opacity: 0.3;
}

/* Developer */

.developer {
    display: flex;
    align-items: center;
}

.developer-text {
    margin: 0;
    margin-right: 15px;
    font-weight: 400;
}

/* Filter form */

.form-filter {
    display: flex;
    column-gap: 120px;
    min-height: 217px;
    padding: 26px 72px;
    background: url("../img/catalog/filter-form-bg.png") no-repeat top center;
    background-size: cover;
}

.check {
    margin: 0;
    padding: 0;
    border: none;
}

.check legend {
    padding: 0;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

.check__container {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    color: #ffffff;
    text-transform: uppercase;
}

.check__container label {
    padding-left: 40px;
    position: relative;
}

.check__input {
    margin: 0;
    position: absolute;
    appearance: none;
}

.check__input::before {
    content: "";
    margin-left: -40px;
    position: absolute;
    width: 27px;
    height: 23px;
    background: url("../img/catalog/checkbox-off.svg") no-repeat center center;
}

.check__input:checked::before {
    background-image: url("../img/catalog/checkbox-on.svg");
}

.check__input:focus::before {
    outline: 2px solid green;
}

.check__input:checked:focus::before {
    outline: 2px solid green;
}

.price {
    border: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.price legend {
    padding: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

.price__input {
    height: 36px;
    border: 2px solid #ffffff;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    color: #ffffff;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.price__input:focus {
    outline: none;
}

.price__input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.price__range {
    height: 31px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 11px;
    position: relative;
    display: flex;
    align-items: center;
}

.price__scale {
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.price__bar {
    width: 70%;
    background-color: #ffffff;
    height: 2px;
}

.toggle {
    width: 19px;
    height: 19px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 #ababab;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-max {
    left: 70%;
}

.toggle span {
    display: flex;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border-radius: 50%;
}

.toggle:hover {
    transform: scale(1.1);
}

.btn-submit {
    display: flex;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 8px 36px;
    font-family: "PT Sans", "Arial", sans-serif;
    cursor: pointer;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #ffffff;
    color: #000000;
}

/* Content */

.sorting {
    display: flex;
    padding: 0 73px;
    padding-top: 29px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e5e5e5;
}

.sorting > p {
    margin: 0;
    margin-right: 46px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.sorting__box {
    display: flex;
    align-items: flex-start;
}

.sorting__box p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 40px;
}

.sorting__link {
    margin-right: 33px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 1px dashed #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus {
    color: #81b3d2;
}

.sorting__link--active {
    color: #81b3d2;
    border: none;
}

.sorting__controls {
    margin-left: auto;
}

.sorting__controls-up {
    display: inline-block;
    margin-right: 12px;
    width: 11px;
    height: 10px;
    background: url("../img/catalog/icon-up.svg") no-repeat center center;
    cursor: pointer;
}

.sorting__controls-down {
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url("../img/catalog/icon-down.svg") no-repeat center center;
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 30px 73px;
    border-bottom: 1px solid #e5e5e5;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 110px 142px;
    grid-template-rows: 33px 30px 26px;
    grid-template-areas: 
        "card__img card__title card__title"
        "card__img card__category card__price"
        "card__img card__link--more card__link--book";
    column-gap: 6px;
}

.card__title {
    grid-area: card__title;
    margin: 0;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.card__category {
    grid-area: card__category;
    margin: 0;
    margin-bottom: 16px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.card__price {
    grid-area: card__price;
    margin: 0;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.card__link--more {
    grid-area: card__link--more;
    background-color: #81b3d2;
}

.card__link--more:hover,
.card__link--more:focus {
    background-color: #669ec0;
}

.card__link--more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.card__link--book {
    grid-area: card__link--book;
    background-color: #766357;
}

.card__link--book:hover,
.card__link--book:focus {
    background-color: #604e43;
}

.card__link--book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.card__img {
    grid-area: card__img;
    margin-right: 23px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.rating__stars-item {
    display: inline-block;
    width: 19px;
    height: 17px;
    margin-right: 5px;
    background: url("../img/catalog/icon-star.svg") no-repeat center center;
}

.rating__stars-item:last-child {
    margin-right: 0;
}

.rating__number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    padding-left: 12px;
    margin: 0;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

/* Top Panel */

.top-panel {
    width: 100%;
    height: 50px;
    background-color: #824034;
}

.flexbox {
    max-width: 1200px;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.top-panel a {
    margin-right: 30px;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.top-panel a:hover,
.top-panel a:focus {
    color: #ff6347;
}